<script>
/*Reviews theme*/
.badge {
      color: #86dcfd!important;
}
.price__badge-sale {
      color: #86dcfd!important;
}
.rale-modal-inner {
      background-color: #001c42!important;
}
.rale-modal-header {
      border-bottom: 1px solid #1aa3df!important;
}
.rale-checkmark--circle {
      stroke: #86dcfd!important;
}
.rale-checkmark--check {
      stroke: #86dcfd!important;
}
.rale-modal-close svg {
      fill: #1aa3df!important;
}
.zegsu-rating-symbol-background.alr-icon-star {
      color: blue!important;
}
.alr-icon-star {
      color: green!important;
}
.review-form-container .zegsu-rating-symbol-background {
      color: blue !important;
}
.alr-count-reviews .alr-progress-bar-wrap .alr-progress-bar div {
      background-color: blue!important;
}
.zegsu-review-number-total-review {
      background: red!important;
        color: blue!important;
}
#zegsu-shopify-ali-review .zegsu-review-desc-content {
      background-color: green!important;
        box-shadow: 1px 1px 12px green!important;
}
#zegsu-shopify-ali-review .zegsu-review-status {
      background-color: red!important;
}
.alr-summary .alr-count-reviews .alr-count {
      color: inherit!important;
}
.alr-summary .alr-count-reviews .alr-sum-wrap .alr-sum-point {
      color: inherit!important;
}
#zegsu-shopify-ali-review .zegsu-review-author {
      color: inherit!important;
}
#zegsu-shopify-ali-review .zegsu-review-desc-content .zegsu-review-post p {
      color: green!important;
}
.btn-add-zegsu-review {
      color: #042f5f!important;
        background-color: #17a8e3!important;
}
.btn-add-zegsu-review:hover {
      background-color: rgba(26, 163, 223, 0.8)!important;
}
.zegsu-review-add-form .zegsu-review-file-upload-btn {
      color: #042f5f!important;
        background-color: #17a8e3!important;
}
.zegsu-review-add-form .zegsu-review-file-upload-btn:hover {
      background-color: rgba(26, 163, 223, 0.8)!important;
}
.zegsu-review-add-form .btn-zegsu-review-wrap button {
      color: #042f5f!important;
        background-color: #17a8e3!important;
}
.zegsu-review-add-form .btn-zegsu-review-wrap button:hover {
      background-color: rgba(26, 163, 223, 0.8)!important;
}
.list-review-pagination .zegsu-review-pagination li.zegsu-review-active {
      color: #042f5f 
      !important;
        background: #17a8e3 !important;
          border: #17a8e3 !important;
}
</script>
